<div id="soundcloud-flash-enclosure-%%ID%%"
     class="soundcloud-flash-enclosure">
    <object type="application/x-shockwave-flash" 
            data="http://player.soundcloud.com/player.swf?url=%%ENCODEDURL%%&amp;auto_play=false&amp;player_type=tiny&amp;color=%%COLOR%%"
            height="18" width="100%">
        <param  name="movie"
                value="http://player.soundcloud.com/player.swf?url=%%ENCODEDURL%%&amp;auto_play=false&amp;player_type=tiny&amp;color=%%COLOR%%" />
        <param name="allowscriptaccess" value="always"/>
        <param name="wmode" value="transparent"/>
    </object>
</div>
